---
name: Emacs Lisp CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions: {}

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        emacs_version:
          - "snapshot"
          - "30.1"
          - "29.4"
          - "28.2"
          - "27.2"

    permissions:
      contents: read
      packages: read
      # To report GitHub Actions status checks
      statuses: write
      # To create test report checks
      checks: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Set up Emacs
        uses: purcell/setup-emacs@master # zizmor: ignore[unpinned-uses]
        with:
          version: ${{ matrix.emacs_version }}

      - name: Install dependencies
        run: |
          emacs -Q --batch \
                --eval "(require 'package)" \
                --eval "(add-to-list 'package-archives '(\"melpa\" . \"https://melpa.org/packages/\") t)" \
                --eval "(package-initialize)" \
                --eval "(package-refresh-contents)" \
                --eval "(unless (package-installed-p 'elisp-lint) (package-install 'elisp-lint))" \
                --eval "(unless (package-installed-p 'package-lint) (package-install 'package-lint))"

      - name: elisp-lint
        run: |
          emacs -Q --batch \
                --eval "(package-initialize)" \
                --eval "(require 'elisp-lint)" \
                -f elisp-lint-files-batch ./*.el

      - name: Run tests
        env:
          EMACS_TEST_JUNIT_REPORT: ${{ (matrix.emacs_version != '27.2' && matrix.emacs_version != '28.2') && 'org-autotask-test.xml' || '' }}
        run: |
          emacs -Q --batch \
                --eval "(package-initialize)" \
                --eval "(add-to-list 'load-path (expand-file-name \".\"))" \
                --eval "(require 'ert)" \
                -l org-autotask.el -l org-autotask-test.el \
                -f ert-run-tests-batch-and-exit

      - name: Upload test results
        uses: actions/upload-artifact@v4
        if: matrix.emacs_version != '27.2' && matrix.emacs_version != '28.2'
        with:
          name: test-results-emacs-${{ matrix.emacs_version }}
          path: org-autotask-test.xml
          retention-days: 7

      - name: Test Report
        uses: dorny/test-reporter@v1 # zizmor: ignore[unpinned-uses]
        if: matrix.emacs_version != '27.2' && matrix.emacs_version != '28.2'
        with:
          name: Test Results - Emacs ${{ matrix.emacs_version }}
          path: org-autotask-test.xml
          reporter: java-junit
